<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cultura is a Education HTML Template">
    <meta name="keywords" content="	classes, college, course, courses, educational, learning, online courses, revolution slider, school, seminar, tutorials, university, workshop">
    <meta name="author" content="regaltheme.com">
    <title>Dịch vụ giao hàng C4</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!-- style css -->
    <link rel="stylesheet" href="/style.css">
    <!-- modernizr js -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- client interact script -->
    <script src="/js/manager-products-function.js"></script>
</head>

<body onload="section_show('manager-products-section');get_product_for_manage();">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Header Section Start -->
        <header class="main-header">
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="d-flex justify-end">
                                <div class="left mr-auto">
                                    <ul class="clearfix">
                                        <li>Phone: <a href="tel:+98698547258">+837 3638 201</a></li>
                                        <li>Open hours: 24/7</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <div id="active-sticky" class="navgation-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="d-flex justify-end">
                                <div class="logo mr-auto" style="width:auto;">
                                    <a href="http://localhost:3000"><img src="/images/home-logo.png" alt="Home Page" style="width: 80px;display:inline" />
                                        <h6 style="display:inline">Hoa yêu thương</h6>
                                    </a>

                                </div>
                                <!-- Static navbar -->
                                <nav class="mainmenu">

                                    <div id="navbar" class="navbar-collapse collapse no-padding">
                                        <ul class="navbar-nav dropdown">
                                            <li><a onclick="section_show('manager-products-section')">Quản lý sản phẩm</a></li>
                                            <li><a onclick="section_show('manager-products-price-section')">Theo dõi giá bán</a></li>
                                            <li><a onclick="section_show('manager-warehouse-section')">Quản lý tồn kho</a></li>
                                            <li><a onclick="section_show('manager-import-history-section');get_import_history();">Lịch sử nhập</a></li>
                                            <li><a href="/log-out">Đăng xuất</a></li>
                                            <li>
                                                <a href="javascript:viod(0)" class="dropdown-toggle" data-toggle="dropdown" title="Show contact">
                                                    Contact <i class="zmdi zmdi-chevron-down"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="courses.html">Facebook</a></li>
                                                    <li><a href="courses-list-view.html">EMail</a></li>
                                                    <li><a href="course-details.html">Skype</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--/.nav-collapse -->
                                </nav>
                                <!-- <div class="search-toggle pull-right">
                                    <i class="zmdi zmdi-search"></i>
                                </div> -->
                                <div class="courses-searching">
                                    <div class="close-search"></div>
                                    <form action="#">
                                        <input type="text" name="search" placeholder="Courses Search..." />
                                        <button id="close" type="submit"><i class="zmdi zmdi-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
        </header>

        <!-- Header Section End -->




        <!-- manager import-history-detail section Start -->
        <section class="register-area section-padding white-bg" id="manager-import-history-detail-section">
            <div class="container">
                <div class="row">
                    <div class="" style="margin: 0 auto; width: auto;">
                        <div class="enter-box" style="padding: 87px;width: 1200px; margin: 0 auto;">
                            <h3 class="mb-35">Chi tiết nhập hàng</h3>
                            <form class="custom-input">
                                <br>

                                <table class="table " id="manager-import-history-detail-table">

                                    <thead>

                                        <tr>
                                            <th scope="col" style="width: 150px;">
                                                <h6 style="margin:5px 0 0 0;">Mã Đơn nhập</h6>
                                            </th>
                                            <th scope="col" style="width: 100px;">
                                                <h6 style="margin:5px 0 0 0;">Số thứ tự</h6>
                                            </th>
                                            <th scope="col" style="width: 250px;">
                                                <h6 style="margin:5px 0 0 0;">Sản phẩm</h6>
                                            </th>
                                            <th scope="col" style="width: 150px;">
                                                <h6 style="margin:5px 0 0 0;">Số lượng nhập</h6>
                                            </th>
                                            <th scope="col" style="width: 150px;">
                                                <h6 style="margin:5px 0 0 0;">Thành tiền</h6>
                                            </th>

                                        </tr>

                                    </thead>

                                    <tbody>

                                        <tr>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">SP3456789</h6>
                                            </td>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">#1</h>
                                            </td>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">Hoa thanh tâm</h>
                                            </td>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">50</h>
                                            </td>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">500,000 vnd</h>
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- manager import-history-detail section END -->


        <!-- manager import-history section Start -->
        <section class="register-area section-padding white-bg" id="manager-import-history-section">
            <div class="container">
                <div class="row">
                    <div class="" style="margin: 0 auto; width: auto;">
                        <div class="enter-box" style="padding: 87px;width: 1100px; margin: 0 auto;">
                            <h3 class="mb-35">Lịch sử nhập hàng</h3>
                            <form class="custom-input">
                                <br>

                                <table class="table " id="manager-import-history-table">

                                    <thead>

                                        <tr>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Mã Đơn nhập</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Ngày Nhập</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Tổng tiền</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Chi tiết</h6>
                                            </th>

                                        </tr>

                                    </thead>

                                    <tbody>


                                        <tr>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">SP3456789</h6>
                                            </td>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">2021-12-01</h>
                                            </td>
                                            <td>
                                                <h6 style="margin:5px 0 0 0;">1,000,000 vnd</h>
                                            </td>
                                            <td>
                                                <button type="button" class="btn-primary" onclick="get_product();">
                                                    <h6 style="margin:5px 0 0 0;color: cornsilk;">Chi tiết</h6>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- manager import-history section END -->


        <!-- import-goods section Start -->
        <section class="register-area section-padding white-bg" id="new-import-goods-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-7 col-text-center">
                        <div class="enter-box">
                            <h3 class="mb-35">Tạo đơn nhập hàng</h3>

                            <form class="custom-input" id="import-goods-form" onsubmit="return import_goods();">
                                <div id="order_detail-container">

                                    <div class="CT_donhang enter-box" id="CTDH0">
                                        <h4 style="margin:5px 0 0 0; display: inline-block;">Sản phẩm 1:</h4>
                                        <br><br>
                                        <h6 style="margin:5px 0 0 0;">Sản phẩm:</h6>
                                        <select name="product" id="select-product" class="select-product" required>
                                            
                                            <option value="Mã sp">Mã SP-Tên sản phẩm</option>
                                        </select>
                                        <h6 style="margin:5px 0 0 0;">Số lượng:</h6>
                                        <input type="number" name="quantity" placeholder="Số lượng" required/>

                                    </div>

                                </div>
                                <button class="btn-primary" type="button" onclick="add_order_detail()">
                                    <h6 style=" margin:5px 0 0 0; color: aliceblue; ">Thêm sản phẩm</h6>
                                </button>
                                <br><br>

                                <h6 style="margin:5px 0 0 0;">Ngày nhập:</h6>
                                <input type="date" id="NgayNhap" required/>

                                <button class="btn" type="submit">Nhập hàng</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- import-goods section End -->


        <!-- manager warehouse section Start -->
        <section class="register-area section-padding white-bg" id="manager-warehouse-section">
            <div class="container">
                <div class="row">
                    <div class="" style="margin: 0 auto; width: auto;">
                        <div class="enter-box" style="padding: 87px;width: 1100px; margin: 0 auto;">
                            <h3 class="mb-35">Quản lý kho hàng</h3>
                            <form class="custom-input">
                                <!-- lọc theo tên sản phẩm, ko biết tên sản phẩm thì khỏi coi -->
                                <h6 style="margin:5px 0 0 0;">Tìm kiếm sản phẩm:</h6>
                                <input type="text" id="product_name-for-seach-warehouse" placeholder="Nhập tên sản phẩm" style="max-width:30%;" />
                                <button type="button" class="btn-primary" onclick="get_warehouse_data();">Tìm kiếm</button>
                                <br><br>

                                <table class="table " id="manager-warehouse-table">

                                    <thead>

                                        <tr>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Mã sản phẩm</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Tên sản phẩm</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Số lượng tồn</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Nhu cầu hiện tại</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Nhập hàng</h6>
                                            </th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        <td>
                                            No result.
                                        </td>
                                    </tbody>

                                </table>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- manager warehouse section END -->


        <!-- manager products-price section Start -->
        <section class="register-area section-padding white-bg" id="manager-products-price-section">
            <div class="container">
                <div class="row">
                    <div class="" style="margin: 0 auto; width: auto;">
                        <div class="enter-box" style="padding: 87px;width: 1100px; margin: 0 auto;">
                            <h3 class="mb-35">Theo dõi giá sản phẩm</h3>
                            <form class="custom-input">
                                <!-- lọc theo tên sản phẩm, ko biết tên sản phẩm thì khỏi coi -->
                                <h6 style="margin:5px 0 0 0;">Tìm kiếm sản phẩm:</h6>
                                <input type="text" id="product_ID-for-seach-manager-products-price" placeholder="Nhập mã sản phẩm" style="max-width:30%;" />
                                <button type="button" class="btn-primary" onclick="get_products_price();">Tìm kiếm</button>
                                <br><br>

                                <table class="table " id="manager-products-price-table">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Mã sản phẩm</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Tên sản phẩm</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Giá nhập (vnd)</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Giá bán (vnd)</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Ngày áp dụng</h6>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <td>
                                            No result.
                                        </td>


                                    </tbody>
                                </table>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- manager products-price section END -->


        <!-- manager products section Start -->
        <section class="register-area section-padding white-bg" id="manager-products-section">
            <div class="container">
                <div class="row">
                    <div class="" style="margin: 0 auto; width: auto;">
                        <div class="enter-box" style="padding: 87px;width: 1200px; margin: 0 auto;">
                            <h3 class="mb-35">Quản lí sản phẩm</h3>
                            <form class="custom-input">
                                <!-- lọc theo tên sản phẩm, ko biết tên sản phẩm thì khỏi coi -->
                                <h6 style="margin:5px 0 0 0;">Tìm kiếm sản phẩm:</h6>
                                <input type="text" id="product_name-for-seach-manager-products" placeholder="Nhập tên sản phẩm" style="max-width:30%;" />
                                <button type="button" class="btn-primary" onclick="get_product_for_manage()">Tìm kiếm</button>
                                <br><br>

                                <table class="table " id="manage-products-table">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 100px;">
                                                <h6 style="margin:5px 0 0 0;">Mã sản phẩm</h6>
                                            </th>
                                            <th scope="col" style="width: 200px;">
                                                <h6 style="margin:5px 0 0 0;">Tên sản phẩm</h6>
                                            </th>
                                            <th scope="col" style="width: 300px;">
                                                <h6 style="margin:5px 0 0 0;">Màu sắc</h6>
                                            </th>
                                            <th scope="col" style="width: 300px;">
                                                <h6 style="margin:5px 0 0 0;">Chủ đề</h6>
                                            </th>
                                            <th scope="col" style="width: 100px;">
                                                <h6 style="margin:5px 0 0 0;">Giá bán (vnd)</h6>
                                            </th>
                                            <th scope="col" style="width: 150px;">
                                                <h6 style="margin:5px 0 0 0;">Số lượng tồn</h6>
                                            </th>
                                            <th scope="col" style="width: 150px;">
                                                <h6 style="margin:5px 0 0 0;">Thao tác</h6>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>

                                <button type="button" class="btn " id="add-product-btn" onclick="show_form('add-product-container')">Thêm sản phẩm</button>
                                <br><br>
                            </form>


                            <div id="add-product-container" class="enter-box" style="display: none; width: 70%; margin: 0 auto;">

                                <form class="custom-input" id="add-new-product-form" onsubmit="return manage_add_new_product()">
                                    <h4>Thêm sản phẩm mới</h4>

                                    <h6 style="margin:5px 0 0 0;">Tên sản phẩm:</h6>
                                    <input type="text" name="TenSP" placeholder="Nhập tên sản phẩm" required/>

                                    <h6 style="margin:5px 0 0 0;">Màu sắc:</h6>
                                    <input type="text" name="MauSac" placeholder="Nhập màu sắc" required/>

                                    <h6 style="margin:5px 0 0 0;">Chủ đề:</h6>
                                    <input type="text" name="ChuDe" placeholder="Nhập chủ đề" required/>

                                    <h6 style="margin:5px 0 0 0;">Giá bán:</h6>
                                    <input type="number" name="GiaBan" placeholder="Nhập giá bán" required />

                                    <h6 style="margin:5px 0 0 0;">Số lượng tồn:</h6>
                                    <input type="number" name="productRemaining" placeholder="Nhập số lượng tồn" required/>
                                    <br>
                                    <button class="btn " name="submit" type="submit">Lưu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- manager products section END -->




        <!-- Footer Section Start -->
        <footer class="section-pt bg-color-5 ">
            <div class="footer-widget-area pb-100 ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-xs-12 col-sm-6 col-md-3 mobi-mb-50 tab-mb-50 ">
                            <div class="footer-widget address ">
                                <div class="title mb-40 ">
                                    <a href="index.html "><img src="assets/img/white-logo.png " alt="Cultura " /></a>
                                </div>
                                <ul>
                                    <li class="mb-10 "><span>Address:</span> 10 North 10 Street,
                                        <br /> Office 120 Barinai UK 200
                                    </li>
                                    <li><span>Phone:</span> <a href="tel:+895245485565 ">+89 524 5485 565</a></li>
                                    <li><span>Email:</span> <a href="mailto:cultura@email.com ">cultura@email.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.Widget end -->
                        <div class="col-xs-12 col-sm-6 col-md-3 mobi-mb-50 tab-mb-50 ">
                            <div class="footer-widget links ">
                                <div class="title mb-40 ">
                                    <h4 class="text-capitalize ">Author <span class="theme-color ">Links</span></h4>
                                    <div class="horizontal-line ">
                                        <hr class="top ">
                                        <hr class="bottom ">
                                    </div>
                                </div>
                                <ul class="pull-left " style="width: 100% ">
                                    <li>
                                        <h4 class="text-capitalize ">Bộ môn Hệ quản trị CSDL</h4>
                                    </li>
                                    <li>
                                        <h4 class="text-capitalize ">Trần Minh Sơn</h4>
                                    </li>
                                    <li>
                                        <h4 class="text-capitalize ">Phạm Tân Tị</h4>
                                    </li>
                                    <li>
                                        <h4 class="text-capitalize ">Hồ Minh Quân</h4>
                                    </li>
                                    <li>
                                        <h4 class="text-capitalize ">Lê Nam Thái Sơn</h4>
                                    </li>

                                </ul>

                            </div>
                        </div>

                        <!-- /.Widget end -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.Widget Area End -->
            <div class="divide ">
                <div class="container ">
                    <hr class="line " />
                </div>
            </div>
            <!-- /.Divede Line -->
            <div class="copyright ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-xs-12 col-sm-6 ">
                            <div class="left ">
                                <p>Copyright &copy; 2018 <a href="https://themeforest.net/user/regaltheme/portfolio ">Regaltheme</a>.</p>
                            </div>
                            <!-- Change your Copyright -->
                        </div>
                        <div class="col-xs-12 col-sm-6 ">
                            <div class="social-icon text-right ">
                                <ul class="clearfix d-inblock ">
                                    <li><a href="https://www.facebook.com/regaltheme/ " target="_blank "><i
                                                class="zmdi zmdi-facebook "></i></a></li>
                                    <li><a href="https://twitter.com/regaltheme " target="_blank "><i
                                                class="zmdi zmdi-twitter "></i></a></li>
                                    <li><a href="https://www.pinterest.com/regaltheme/ " target="_blank "><i
                                                class="zmdi zmdi-pinterest "></i></a></li>
                                    <li><a href="http://www.instagram.com " target="_blank "><i
                                                class="zmdi zmdi-instagram "></i></a></li>
                                </ul>
                            </div>
                            <!-- Change your social media link -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper Start -->

    <!-- All JS Here -->
    <!-- jQuery Latest Version -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js "></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js "></script>
    <!-- Form Validate -->
    <script src="assets/js/jquery.validate.min.js "></script>
    <!-- Slick Slider JS -->
    <script src="assets/js/slick.min.js "></script>
    <!-- Swiper JS -->
    <script src="assets/js/swiper.min.js "></script>
    <!-- Isotope JS -->
    <script src="assets/js/isotope.pkgd.min.js "></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js "></script>
    <!-- Progressbar JS -->
    <script src="assets/js/progressbar.js "></script>
    <!-- main JS -->
    <script src="assets/js/main.js "></script>
</body>

</html>